* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #ccc;
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ccc;
}

.header {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  padding: 20px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  fill: #5e2d21;
}

.logo:hover {
  fill: #000;
  cursor: pointer;
}

.title__h1 {
  margin-left: 20px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  width: 300px;
  border: 3px solid #1a1a1a;
  border-radius: 20px;
  background-color: white;
}

.search__input {
  outline: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  margin: 3px;
  padding: 4px 0 4px 10px;
  font-size: 20px;
}

.search__button {
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50%;
  background-color: white;
}

.search__button:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.search__logo {
  fill: #5e2d21;
  width: 30px;
  height: 30px;
  margin: 7px 0 0 7px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  padding: 20px 0;
  margin: 0 auto;
}

.wrapper-img {
  width: 24.5%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.gallery-img {
  width: 100%;
  height: 90%;
}

.about-img {
  background-color: #2a2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  height: 60px;
  color: azure;
}

.title-img {
  font-size: 22px;
}

.average-img {
  font-size: 22px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #eee;
  font-size: 20px;
}

.github {
  color: #5e2d21;
  text-decoration: none;
}

.year {
  color: #5e2d21;
}

.rss {
  width: 150px;
  height: 50px;
  fill: #5e2d21;
}

.rss:hover {
  fill: #000;
}

/*========*/
@media (max-width: 800px) {
  .wrapper-img {
    width: 32%;
  }
  .header {
    height: 50px;
  }
  .title-img {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    height: 100px;
  }
  .search {
    width: 100%;
  }
  .wrapper-img {
    width: 49%;
  }
  .header {
    font-size: 14px;
  }
  .logo {
    display: none;
  }
  .title-img {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 12px;
  }
  .wrapper-img {
    width: 99%;
  }
  .rss {
    width: 100px;
    height: 40px;
    fill: #5e2d21;
  }
  .title-img {
    font-size: 20px;
  }
}
